<% if current_user %>

	<div id="form">
		<%= form_for @carro, :url => { :action => 'create' } do |f| -%>

		<strong>Quer vender ?</strong>
		<br /><br />

		<%= f.label :nome %><br />
		<%= f.text_field :nome, :class => 'button-input' %>
		<br />

		<%= f.label :descricao %><br />
		<%= f.text_area :descricao, :cols => 26, :rows => 9 %>
		<br />

		<%= f.label :preco %><br />
		<%= f.text_field :preco, :class => 'button-input' %>
		<br />

		<%= f.submit 'Anunciar!', :disable_with => '...', :class => 'anunciar' %>

		<% end -%>
	</div>
<% else %>
	Para cadastrar faça o login! <%= link_to 'Login', '/users/sign_in' %>
<% end %>

<div style="clear:both"></div>

<br />

<div id="busca">
	<strong>Carros a venda</strong>
	<br /><br />
	<%= form_tag :controller => 'carros', :action => 'busca' do %>
		<%= text_field_tag 'busca', nil, :class => 'button-search' %>
		<%= submit_tag "busca", :disable_with => "...", :class => 'buscar' %>
	<% end %>

	<% unless @carros.blank? %>
		<% @carros.each do |carro| %>
			<br />
			<b><%= carro.nome %></b><br />
			<%= carro.descricao %><br />
			<%= num_formatado(carro.preco) %><br />
		<% end %>
	<% else %>
		<p>Nenhum carro cadastrado.</p>
	<% end %>
</div>

<%= will_paginate @carros %>